body {
    background-color: gray;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 10;
    width: 200 px;
    height : 200px;
    text-align: center;
}
.shitpic {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}
#nigga {
    padding: 100px;
}